.contributing-project-table {
  width: 100%;
  min-height: 350px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 5px;
  // box-shadow: inset -1px -1px 0 #cccccc;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  .contributing-project-table-title {
    color: #6b778c;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
