@import "src/global";

.navbar {
  height: 80px;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  .navbar-container {
    margin: auto;
    max-width: $max-width;
    min-width: $min-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .navbar-band {
      color: #272727;

      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.24px;
    }
    .nav-links {
      display: flex;
      list-style: none;
      .nav-link {
        font-size: 16px;
        font-family: $font-chinese-family;
        color: #272727;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
