.people-selector {
  height: 35px;
  border: none;
  background-color: rgba(250, 201, 41, 0.915);
  color: white;
  font-size: 16px;
  padding-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
