.nav-bar {
  padding-left: 1%;
  padding-right: 1%;
  //   padding-bottom: 10px;
  display: flex;
  background-color: white;
  border-bottom: 2px solid;
  border-color: #dddddd;
  .nav-bar-item {
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    text-decoration: none;
    color: #9d9c9c;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    &:hover {
      border-bottom: 2px solid;
      border-color: #7cc2eb;
      color: #7cc2eb;
    }
  }
  .active {
    border-bottom: 2px solid;
    border-color: #2e9cdb !important;
    color: #2e9cdb !important;
  }
}
