@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

$min-width: 1020px;
$max-width: 1500px;

$color-primary: #48c2ba;
$color-secondary: var(--primary-10, #e1f4f4);
$font-chinese-family: "Plus Jakarta Sans";
